body {
    font-family: 'Lato', sans-serif;
    font-weight:400;
}

h1, h2, h3, h4,h5,h6 {
    font-weight:700;
}
h1 {
    font-size:84px;
    font-weight:900;
    line-height:80px;
    color:#68B2A5;
    text-shadow:none;
    margin-bottom:20px;
}
h2 {
    font-size:48px;
    color:#68B2A5;
    margin-bottom:0px !important;
}
@media (max-width:550px) {
    h2 {
    }
}
h3 {
    font-size:36px;
}
h4 {
    font-size:24px;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:18px;
}
p {

}

a {
    color:#FFF;
}
a:hover {
    color:#FFF;
}

.slider-caption.slider-caption-right {
    margin-top:-50px !important;
    padding-left:130px;
}

#slide-1 p {
    font-size: 29px;
    color: #484F52;
    text-shadow: 2px 2px 5px #FFFFFF;
    font-weight:400;
    margin-bottom:70px;
}
#slide-1 h4 {
    font-size: 24px;
    color: #484F52;
    font-weight:400;
    line-height: 25px;
    text-shadow: 2px 2px 5px #FFFFFF;
    line-height:30px;
    margin-bottom:10px;
}

#slide-2 .slider-caption {
    padding-left:0px;
}

#slide-2 h2 {
    text-shadow: 0px 0px 5px #FFFFFF;
    line-height:60px;
    text-transform:none;
    font-weight:900;
    margin-bottom:20px;
}

#slide-2 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:24px;
    font-weight:400;
    color:#484F52;
    text-shadow:none;
    margin-bottom:80px;
}

#slide-3 .slider-caption {
    margin-top:0px !important;
}


#slide-3 h2 {
    font-size:80px;
    font-weight:700;
    text-transform:none;
    text-shadow:none;
    color:#68B2A5;
    margin-bottom:0px;
}
#slide-3 h3 {
    color:#484F52;
    font-weight:400;
    margin-bottom:130px;

}

#slide-3 p {
    color:#484F52;
    font-size:28px;
    font-weight:400;
    text-shadow:none;
    margin-bottom:20px;
}

.star {
    font-size:35px;
    color:#FDBE00;
    text-shadow:none;
}
a:hover {
    text-decoration:none;
}

.custom-btn {
    color:#FFF;
    font-size:18px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
    border:2px solid #FFF;
    margin-left:0px;
    margin-right:0px;
    background:#FD6701;
    text-shadow:none;
    font-weight:400;
    padding-top:7.5px;
    padding-bottom:45px;

}
.custom-btn:hover {
    background:#DB5900;
    text-shadow:none;
}

/** ICON ARROW DOWN **/
.icon-arrow-down {
    color: white;
    border: 2px solid #FFF;
    border-radius: 10000px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    position:relative;
    top:-20px;

}

#header {
    background:#484F52;
}
#header.full-header {
    border-bottom:none;
}
#logo img {
    padding-top:5px;
    padding-bottom:5px;
}
#primary-menu-trigger {
    font-size:38px;
}
@media (max-width:767px) {
    #logo img {
        padding-top:12px;
        padding-bottom:12px;
    }
    #primary-menu-trigger {
        font-size:35px;
    }
}
@media (max-width:479px) {
    #primary-menu-trigger {
        left:-35px;
    }
    .icon-reorder {
        font-size:30px;
    }
}
#header.full-header #logo {
    padding-right:0px;
}

#primary-menu > ul:nth-child(1) > li:nth-child(1) > a, #primary-menu > ul:nth-child(2) > li:nth-child(1) > a {
    color:#FDA365;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a, #primary-menu > ul:nth-child(2) > li:nth-child(2) > a {
    color:#93D6CA;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a, #primary-menu > ul:nth-child(2) > li:nth-child(3) > a {
    color:#D1DE6A;
}
#primary-menu > ul:nth-child(1) > li:nth-child(1) > a, #primary-menu > ul:nth-child(1) > li:nth-child(2) > a, #primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
    font-weight:700;
}
body.stretched #header.full-header .container {
    padding-right:0;
}


#primary-menu ul li > a {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:18px;
    color:#FFF;
    text-transform:none;
    letter-spacing:0 !important;
}
#primary-menu ul li:hover > a {
    text-decoration:underline;
}
@media (max-width:1460px) {
    #primary-menu ul li > a {
        font-size:17px;
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width:1350px) {
    #primary-menu ul li > a {
        font-size:16px;
        padding-left:7px;
        padding-right:7px;
    }
}
@media (max-width:1270px) {
    #logo img {
        padding-top:10px;
        padding-bottom:10px;
    }
}
@media (max-width:1240px) {
    #primary-menu ul li > a {
        font-size:15px;
        padding-left:6px;
        padding-right:6px;
    }
}
@media (max-width:1190px) {
    #primary-menu ul li > a {
        padding-left:6px;
        padding-right:6px;
    }
}
@media (max-width:1135px) {
    #logo img {
        padding-top:15px;
        padding-bottom:15px;
    }
}
@media (max-width:1085px) {
    #header.full-header #primary-menu > ul {
        margin-right:0;
    }
    body.stretched #header.full-header .container {
        padding-left: 15px;
    }
    #logo img {
        padding-top:17.5px;
        padding-bottom:17.5px;
    }
}
@media (max-width:993px) {
    #primary-menu > ul:nth-child(1) > li:nth-child(1) > a, #primary-menu > ul:nth-child(1) > li:nth-child(2) > a, #primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
        font-weight:400;
    }
}
.phone-slug {
    background:#758186;
}
.text-phone {
    font-size:36px;
    font-weight:700;
    color:#FFF;
}
.phone-slug h6 {
    line-height:5px;
    color:#FFF;
    font-weight:400;
}

.phone-slug div.col-sm-6.tleft {
    border-left:1px solid #FFF;
}
.phone-slug .custom-btn {
    margin-bottom:0px;
    margin-top:0px;
}
.phone-slug p {
    color:#FFF;
    font-size:21px;
}

.phone-slug div.col-sm-6.tright {
    margin-top:8px;
}
.phone-slug {
    padding-top:20px;
}
@media (max-width:767px) {
    .phone-slug div.col-sm-6.tright {
        text-align:center !important;
    }
    .phone-slug div.col-sm-6.tleft {
        text-align:center !important;
        border-left:none;
    }
    .phone-slug h6 {
        font-size:21px;
        line-height:10px;
    }
    .text-phone {
        font-size:40px;
        margin-bottom:20px;
    }
    .phone-slug .custom-btn {
        margin-bottom:20px;
    }
    .phone-slug p {
        font-size:16px;
    }
    .phone-slug .existing-phone {
        font-size:24px;
    }
    .phone-slug > div:nth-child(1) > div:nth-child(2) > div > p {
        line-height:25px !important;
    }

}
.content-wrap {
    padding:0;
}
#primary-menu-trigger {
    color:#FFF;
}
section h2 {
    font-weight:900;
}

.section-meet-your-dental-team p:nth-child(2) {
    color:#484F52;
    font-weight:700;
    font-size:20px;
    margin-bottom:10px;
}
.section-meet-your-dental-team p:nth-child(3), #meet-your-dental-team div.center.topmargin > p:nth-child(4) {
    color:#4A4A4A;
    font-size:18px;
    margin-bottom:0px;
}
#meet-your-dental-team div.center.topmargin > p:nth-child(4) {
    margin-bottom:50px;
}

#meet-your-dental-team > div > div.row > div:nth-child(2) {
    background-image: linear-gradient(-90deg, rgba(249,249,247,0.00) 0%, #F1F0EB 100%);
}
.section-meet-your-dental-team h3 {
    font-size:32px;
    font-weight:700;
    color:#484F52;
    margin-bottom:20px;
    line-height:25px;
}
.section-meet-your-dental-team {
    background-image:url('../images/texture-bkgd-mockup.jpg');
}

.section-meet-your-dental-team .col-md-6 p {
    font-weight:300;
    font-size:16px;
    color:#4A4A4A;
}
.caption {
    font-style:italic;
    margin-right:10px;
}

.section-meet-your-dental-team div.col-md-5 > img {
    margin-bottom:20px;
}
.section-meet-your-dental-team .col-md-7 > p:nth-child(3) {
    margin-bottom:10px;
}
.section-meet-your-dental-team > div > div.row.flex > .col-md-6 {
    padding-top:30px;
}