body {
    font-family: 'Lato', sans-serif;
    font-weight:400;
}

h1, h2, h3, h4,h5,h6 {
    font-weight:700;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {
}
h6 {

}
p {

}

a {
}

.star {
    font-size:35px;
    color:#FFCD00;
}
a:hover {
    text-decoration:none;
}

.custom-btn {
    color:#FFF;
    font-size:20px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
    border-width:2px;
    margin-left:0px;
    margin-right:0px;
    text-shadow:none;
}
.custom-btn:hover {
    background:#E27101;
    text-shadow:none;
}

/** ICON ARROW DOWN **/
.icon-arrow-down {
    color: black;
    border: 2px solid black;
    border-radius: 10000px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

#header {
    background:#484F52;
}
#logo img {
    padding-top:5px;
    padding-bottom:5px;
}
#header.full-header #logo {
    padding-right:0px;
}

#primary-menu > ul:nth-child(1) > li:nth-child(1) > a {
    color:#FDA365;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a {
    color:#93D6CA;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
    color:#D1DE6A;
}


#primary-menu ul li > a {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:18px;
    color:#FFF;
    text-transform:none;
}